/* default */

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
h1 {
    font-size: 4vh;
    font-weight: 400;
}
h2 {
    font-size: 2.5vh;
    font-weight: 400;
    color: #5E6070;
}
h4 {
    font-size: 2vh;
    color: #F3976C;
    font-weight: 500;
}
h5 {
    font-size: 2.5vh;
    font-weight: 300;
}
h6 {
    font-size: 1.5vh;
    font-weight: 600;
    text-transform: uppercase;
}

/* General */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 20% 1.5% 20%;
}
header img {
    width: 60%;
}
header nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
    font-size: 2vh;
}
header li {
    padding: 0% 10% 0% 10%;
}
.banniere-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F3976C;
    row-gap: 15px;
    background:  repeat center/20% url(img/texture-paper.webp), url(img/la-chouette-agence-banniere.webp);
    background-attachment: fixed;
}
.banniere-1 img {
    width: 6%;
    margin-top: 5%;
}
.banniere-1 a {
    margin-bottom: 5%;
    font-size: 2vh;
    font-weight: 600;
    color: #fff;
    background-color: #F3976C;
    padding: 1% 2% 1% 2%;
    border-radius: 35px;
}
.argument-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 50px;
    font-size: 2vh;
    padding: 3% 20% 3% 20%;
}
.argument-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.argument-icon span {
    color: #364577;
}
.argument-icon p {
    font-size: 1.5vh;
}
.argument-icon div {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.argument-icon span {
    font-size: 10vh;
}
.argument-icon h3 {
    text-transform: uppercase;
}
.testimonial {
    font-style: italic;
    color: #5E6070;
}
.testimonial p {
    margin-top: 5px;
    font-size: 1.5vh;
    color: #000;
}
.banniere-2 {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 3% 10% 3% 10%;
    background: repeat center/20% url(img/texture-paper.webp), no-repeat url(img/image-de-presentation.webp);
    background-attachment: fixed;
}
.banniere-2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    width: 60%;
    font-size: 1.5vh;
    color: #fff;
    padding: 5%;
    text-align: center;
    background-color: rgba(165, 147, 99, 0.7);
}
.banniere-2 a {
    width: 40%;
    font-size: 2vh;
    font-weight: 600;
    color: #fff;
    background-color: #F3976C;
    padding: 1% 2% 1% 2%;
    border-radius: 35px;
}
.argument-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 4vh;
    padding: 3% 20% 3% 20%;
    background-image: linear-gradient(0deg, #ffffff 37.50%, #f2f2f2 37.50%, #f2f2f2 50%, #ffffff 50%, #ffffff 87.50%, #f2f2f2 87.50%, #f2f2f2 100%);
    background-size: 8.00px 8.00px;
}
.gallery {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 1.5vh;
}
.gallery div {
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 35%;
    row-gap: 15px;
}
.gallery img {
    width: 400px;
    height: 400px;
}
.banniere-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 5vh;
    row-gap: 25px;
    color: #F3976C;
    padding: 7% 10% 7% 10%;
    background: repeat center/20% url(img/texture-paper.webp), no-repeat center/ cover url(img/la-chouette-agence-banniere.webp);
    background-attachment: fixed;
}
.banniere-3 a {
    font-size: 2vh;
    font-weight: 600;
    color: #fff;
    width: 15%;
    background-color: #F3976C;
    padding: 1% 2% 1% 2%;
    border-radius: 30px;
}
.banniere-4 {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #F3976C;
    padding: 7% 10% 7% 10%;
}
.contact {
    display: flex;
    text-align: left;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-size: 4vh;
}
.contact div {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 1.5vh;
    padding: 1%;
}
address {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1% 0% 1% 0%;
}
button {
    font-size: 2vh;
    font-weight: 600;
    color: #fff;
    width: 25%;
    background-color: #F3976C;
    padding: 1% 2% 1% 2%;
    border-radius: 30px;
    border: none;
}
footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #F3976C;
    padding: 1% 10% 2% 10%;
}
footer h1 {
    font-size: 1.3vh;
    margin-bottom: 2%;
}
.icon-footer {
    font-size: 3.5vh;
}